<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}" type="text/css" media="all">
    {% endblock %}
</head>
<body>
<table>
    <tr>
        <th>Windia</th>
        <th>Casper</th>
        <th>Foliett</th>
        <th>Rosa</th>
        <th>Sakura</th>
    </tr>
    <tr>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763345-windia_img.jpg" alt="Windia"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763341-caspar_img.jpg" alt="Casper"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763342-foret_img.jpg" alt="Foliett"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763347-rosa_img.jpg" alt="Rosa"></td>
        <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763348-sakyura_img.jpg" alt="Sakura"></td>
    </tr>
</table>

<a href="deathsmiles">Deathsmiles</a>
<a href="mushihimesama">Mushihimesama</a>
<a href="crimzon_clover">Crimzon Clover</a>
<a href="ikaruga">Ikaruga</a>


</body>
</html>